In [2]:
# работа с переменными, вариант без print
x = 1
y = 2
t = x + y
t

3

In [3]:
# работа с переменными, вариант с print
x = 1
y = 2
t = x + y
print(x, " + ", y, " = ", t)

1  +  2  =  3

In [1]:
# Подключаем библиотеку sqlite3
import sqlite3
# Подключаемся в базе данных
con = sqlite3.connect("P:/s.savin/flask_project/database.db")
cur = con.cursor()
res = cur.execute("SELECT * FROM links")
res.fetchall()

[(1,
  'Как сделать скрипт на bash',
  'https://selectel.ru/blog/tutorials/linux-bash-scripting-guide/'),
 (2,
  'Как создать и запустить bat-файлы\n',
  'https://www.nic.ru/help/kak-sozdat6-i-zapustit6-bat-fajly_11640.html'),
 (3,
  'Работа с 7zip из командной строки',
  'https://www.dmosk.ru/miniinstruktions.php?mini=7zip-cmd '),
 (4,
  'Список команд Windows CMD  с описанием и примерами',
  'https://ab57.ru/cmdlist.html'),
 (5,
  'Интересный материал про bash',
  'https://linuxsimply.com/bash-scripting-tutorial/basics/')]

In [2]:
cur = con.cursor()
res = cur.execute("SELECT * FROM links LIMIT 1")
res.fetchall()

[(1,
  'Как сделать скрипт на bash',
  'https://selectel.ru/blog/tutorials/linux-bash-scripting-guide/')]

In [40]:
# Тестовый запрос вставки значений в таблицу links
data = (
    {"id": None,"name": "test", "link": "test"},
    {"id": None,"name": "test", "link": "test"},
    {"id": None,"name": "test", "link": "test"},
)
cur.executemany("INSERT INTO links VALUES(:id,:name, :link)", data)
con.commit()

In [42]:
cur = con.cursor()
res = cur.execute("DELETE FROM links WHERE id IN (12,13,14)")
res.fetchall()
con.commit()